[user]
        name = "Juan Garcia"
        email = "juant.garcia@datadoghq.com"
        signingkey = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPHxArMI/L1PsAg7THPFrSV9//zyf+P6VMCCMWO5yZqp"
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[gpg]
	format = ssh
[url "git@github.com:DataDog/"]
        insteadOf = https://github.com/DataDog/
